<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}My site{% endblock %}</title>
</head>

<body>
    
    {% csrf_token %}

    {% if user.is_authenticated %}
        <p>username: <b>{{user.username}}</b></p>
    {% endif %}

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'new_artist_form' %}">Create Artist</a></li>
            <li><a href="{% url 'new_album_form' %}">Create Album</a></li>
            <li><a href="{% url 'new_song_form' %}">Create Song</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {%endif%}            
            
            <li><a href="/">Home</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>