{% extends 'base.html' %}
{% block title%}All Artists{%endblock%}

{% block content %}

{% csrf_token %}

<h3>All Artists:</h3>

<ul>
    {% for ar, ar_data in data.items %}
    <li>
        <p>Stage name: {{ar_data.name}}</p>
        <p>Social: {{ar_data.social_media_link}}</p>
        <ul>
            {% for al in ar_data.albums %}
                <li>
                    <p>Id: {{al.id}}</p>
                    <p>Album name: {{al.name}}</p>
                    <p>Creation date: {{al.creation_date}}</p>
                    <p>Release date: {{al.release_date}}</p>
                    <p>Cost: {{al.cost}}</p>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{%endblock%}