{% extends 'base.html' %}
{% block title%}All Artists{%endblock%}

{% block content %}

{% csrf_token %}

<h3>All Artists:</h3>

<ul>
    {% for artist in data %}
    <li>
        <p>Stage name: {{artist.name}}</p>
        <p>Social: {{artist.social_media_link}}</p>
        <ul>
            {% for album in artist.album_set.all %}
                <li>
                    <p>Id: {{album.id}}</p>
                    <p>Album name: {{album.name}}</p>
                    <p>Creation date: {{album.creation_date}}</p>
                    <p>Release date: {{album.release_date}}</p>
                    <p>Cost: {{album.cost}}</p>
                    
                    <ul>
                    {% for song in album.song_set.all %}
                        <li>
                            <p>{{song.name}}</p>
                            <img src="{{song.image_thumbnail.url}}">
                            <audio controls>
                                <source src="{{song.audio.url}}">
                            </audio>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{%endblock%}